@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    @apply bg-primary text-primary
}




.dark {
    --color-bg-primary: #030044;
    --color-bg-secondary: #03183d;
    --color-text-primary: #dbdbdb;
    --color-text-secondary: #c6cfdb;
    --color-bg-accent: #a481e6;
    --color-bg-input: #fcfcfc;
    --color-bg-button: #81e6d9;

}

.light {
    --color-bg-primary: #ffffff;
    --color-bg-secondary: #edf2f7;
    --color-text-primary: #2d3748;
    --color-text-secondary: #4a5568;
    --color-text-accent: #2b6cb0;
    --color-bg-input: #edf2f7;
    --color-bg-button: #2b6cb0;
}